.place__paragraph {
    margin: 0 0 26px 0;
}

.place__paragraph:last-child {
    margin: 0 0 0 0;
}

@media (min-width: 320px) and (max-width: 768px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 25px;
    }

    .place__paragraph:last-child {
        margin-left: 16px;
        margin-right: 16px;
    }
}